#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-brighter);
}

#header {
  display: flex;
  background-color: var(--main-color);
}

#header p {
  margin: 1rem auto;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--accent-color);
}

#header a {
  font-weight: 800;
  color: var(--accent-brighter);
}

#header a:hover,
#header a:active {
  opacity: 0.7;
  text-decoration: underline;
}

main {
  display: flex;

  justify-content: center;
}

#todo {
  display: flex;
  flex-direction: column;

  background-color: var(--main-color);

  border-radius: 0.5rem;

  margin-top: 10vh;

  width: 50vw;
}

.todo-navigation {
  display: flex;
  padding: 2rem 0;

  justify-content: space-around;

  border-bottom: 0.1rem var(--accent-color) solid;
}

.todo-navigation li button {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;

  color: var(--accent-color);

  background-color: var(--main-darker);

  border: var(--default-border);
  border-radius: 1rem;

  cursor: pointer;
  transition: var(--default-transition);
}

.todo-navigation li button:hover {
  background-color: var(--main-brighter);
  color: var(--accent-brighter);
  border-color: var(--accent-color);
}

.todo-navigation li button:active {
  background-color: var(--accent-darker);
  color: var(--main-darker);
  border-color: var(--accent-brighter);
}

.todo-container {
  display: flex;
  flex-grow: 1;
  /* background-color: red; */
}

.todo-container ul {
  flex-grow: 1;
}

.list-item {
  display: flex;
  padding: 1rem;

  border-bottom: var(--default-border);
}

.list-item:last-child {
  border-bottom: none;
}

.btn-control {
  margin-left: auto;
}

.btn-control button {
  cursor: pointer;
}
