#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--main-brighter);
}

#header {
  display: flex;
  background-color: var(--main-color);
}

#header p {
  margin: 1rem auto;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--accent-color);
}

#header a {
  font-weight: 800;
  color: var(--accent-brighter);
}

#header a:hover,
#header a:active {
  opacity: 0.7;
  text-decoration: underline;
}

main {
  display: flex;

  justify-content: center;
}

#todo {
  display: flex;
  flex-direction: column;

  background-color: var(--main-color);

  border-radius: 0.5rem;

  margin: 10vh 0;

  width: 70vw;
}

.todo-navigation {
  display: flex;
  padding: 2rem 0;

  justify-content: space-around;
  align-items: center;

  text-transform: uppercase;
}

.fixed-item {
  width: 33.33%;
  display: flex;
  justify-content: center;
}

.todo-navigation li h3 {
  font-size: 1.3rem;
  font-weight: 600;

  color: var(--accent-color);
}

.todo-navigation li h3 span {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--accent-brighter);
}

.todo-navigation__button {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;

  color: var(--accent-color);

  background-color: var(--main-darker);

  border: var(--default-border);
  border-radius: 0.6rem;

  transition: var(--default-transition);

  user-select: none;
  text-transform: inherit;
}

.todo-navigation__button:hover {
  background-color: var(--main-brighter);
  color: var(--accent-brighter);
  border-color: var(--accent-color);
}

.todo-navigation__button:active {
  background-color: var(--accent-darker);
  color: var(--main-darker);
  border-color: var(--accent-brighter);
}

.todo-container {
  display: flex;
  flex-grow: 1;

  flex-direction: column;
}

.list-heading {
  padding: 1rem 0;
  text-align: center;

  font-weight: 700;
  text-transform: uppercase;
  color: var(--accent-brighter);
  background-color: var(--main-brighter);

  border: 0.2rem transparent solid;
  border-bottom-color: var(--accent-darker);
  border-top-color: var(--accent-darker);
}

.todo-container ul {
  flex-grow: 1;

  max-width: 100%;
}

.list-item {
  display: flex;
  flex-direction: column;

  background-color: var(--main-darker);

  border-bottom: 0.1rem transparent solid;

  transition: var(--default-transition);
}

.list-item:last-child {
  border-bottom: none;
}

.list-item:hover {
  background-color: var(--main-color);
  border-bottom-color: var(--accent-brighter);
}

.text-completed {
  text-decoration: line-through;
}

.text-completed--none {
  color: var(--accent-brighter) !important;
}

.text-completed--low {
  color: var(--low-difficult-brighter) !important;
}

.text-completed--medium {
  color: var(--medium-difficult-brighter) !important;
}

.text-completed--high {
  color: var(--high-difficult-brighter) !important;
}

.list-item--main {
  display: flex;
  align-items: center;
}

.delete-form__input {
  display: none;
}

.list-item--main button,
.delete-form__checkbox {
  margin: 1rem 0.3rem 1rem 1.3rem;
}

.delete-form__checkbox {
  display: flex;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;

  border: 0.2rem cornflowerblue solid;
  border-radius: 0.1rem;

  transition: var(--default-transition);

  cursor: pointer;
}

.delete-form__input:checked + .delete-form__checkbox {
  background-color: cornflowerblue;
}

.list-item--main button {
  display: flex;
  flex-shrink: 0;
  width: 1.5rem;
  height: 1.5rem;

  border-radius: 100%;

  border: 0.2rem var(--accent-color) solid;
}

.list-item--main button:hover {
  scale: 1.2;
}

.list-item--main .btn-uncompleted--none {
  border-color: var(--accent-color);
}

.list-item--main .btn-uncompleted--low {
  border-color: var(--low-difficult-color);
}

.list-item--main .btn-uncompleted--medium {
  border-color: var(--medium-difficult-color);
}

.list-item--main .btn-uncompleted--high {
  border-color: var(--high-difficult-color);
}

.list-item--main .btn-completed--none {
  border-color: var(--accent-brighter);
  background-color: var(--accent-brighter);
}

.list-item--main .btn-completed--low {
  border-color: var(--low-difficult-brighter);
  background-color: var(--low-difficult-brighter);
}

.list-item--main .btn-completed--medium {
  border-color: var(--medium-difficult-brighter);
  background-color: var(--medium-difficult-brighter);
}

.list-item--main .btn-completed--high {
  border-color: var(--high-difficult-brighter);
  background-color: var(--high-difficult-brighter);
}

.text-control {
  display: flex;
  flex-grow: 1;

  padding: 1rem 0 1rem 1rem;

  overflow: hidden;

  cursor: pointer;
}

.text-control p {
  font-size: 1.1rem;

  color: var(--accent-color);

  font-weight: 500;

  overflow: inherit;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.text-control:hover p {
  color: var(--accent-brighter);
}

.text-uncompleted--none {
  color: var(--accent-color);
}

.text-uncompleted--low {
  color: var(--low-difficult-color) !important;
}
.text-control:hover .text-uncompleted--low {
  color: var(--low-difficult-brighter) !important;
}

.text-uncompleted--medium {
  color: var(--medium-difficult-color) !important;
}
.text-control:hover .text-uncompleted--medium {
  color: var(--medium-difficult-brighter) !important;
}

.text-uncompleted--high {
  color: var(--high-difficult-color) !important;
}
.text-control:hover .text-uncompleted--high {
  color: var(--high-difficult-brighter) !important;
}

.list-item--extended {
  padding: 1rem;

  background-color: var(--main-color);
}

.extended-controls {
  display: flex;
  justify-content: space-around;

  margin: 2rem 0 1rem;
}

.extended-controls__button {
  line-height: 1;
  aspect-ratio: 1/1;
  padding: 0.3rem;

  font-size: 1.25rem;
  font-weight: 600;

  background-color: var(--main-darker);

  border: var(--default-border);
  border-radius: 100%;

  transition: var(--default-transition);
  user-select: none;
}

.extended-controls__button:hover {
  scale: 1.2;
  background-color: var(--main-brighter);
}

.extended-controls__button--none {
  border-color: var(--accent-color);
}

.extended-controls__button--low {
  border-color: var(--low-difficult-color);
}

.extended-controls__button--medium {
  border-color: var(--medium-difficult-color);
}

.extended-controls__button--high {
  border-color: var(--high-difficult-color);
}

.extended-info {
  display: flex;
  flex-direction: column;
}

.extended-info h2 {
  text-align: center;

  font-size: 1.5rem;
  font-weight: 800;

  text-transform: uppercase;

  color: var(--accent-brighter);

  margin-bottom: 2rem;

  padding: 0 2rem;

  cursor: pointer;
}

.extended-info h2:hover {
  scale: 1.1;
}

.extended-info__heading--none {
  color: var(--accent-brighter) !important;
}
.extended-info__heading--low {
  color: var(--low-difficult-brighter) !important;
}
.extended-info__heading--medium {
  color: var(--medium-difficult-brighter) !important;
}
.extended-info__heading--high {
  color: var(--high-difficult-brighter) !important;
}

.extended-info h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--accent-brighter);

  margin-bottom: 1rem;
}

.extended-info__span {
  text-transform: capitalize;
  color: var(--accent-color);
  font-weight: 700;
}

.extended-info__span--none {
  color: var(--accent-color);
}

.extended-info__span--low {
  color: var(--low-difficult-color);
}

.extended-info__span--medium {
  color: var(--medium-difficult-color);
}

.extended-info__span--high {
  color: var(--high-difficult-color);
}

.extended-info__span-completed--none {
  color: var(--accent-brighter);
}
.extended-info__span-completed--low {
  color: var(--low-difficult-brighter);
}
.extended-info__span-completed--medium {
  color: var(--medium-difficult-brighter);
}
.extended-info__span-completed--high {
  color: var(--high-difficult-brighter);
}

.extended-info p {
  white-space: pre-line;
  line-height: 2;

  color: var(--accent-brighter);
}

.task-edit-form {
  display: flex;
  flex-direction: column;
}

.task-edit-form h3 {
  font-size: 1.5rem;
  font-weight: 600;

  text-align: center;
  margin: 0.5rem 0;

  color: var(--accent-color);

  cursor: default;
}

.task-edit-form label {
  font-size: 1.25rem;
  font-weight: 500;

  margin-bottom: 0.5rem;

  color: var(--accent-brighter);
}

.task-edit-form input[type="text"],
.task-edit-form textarea {
  font-size: 1.3rem;
  padding: 0.4rem 0 0.4rem 0.5rem;
  margin: 0.5rem 0;

  color: var(--accent-color);
  background-color: var(--main-darker);

  border: 0.1rem transparent solid;
}

.task-edit-form input[type="text"]:focus,
.task-edit-form textarea:focus {
  border-color: var(--accent-darker);
}

.task-edit-form textarea {
  font-size: 1rem;
  resize: none;
  min-height: 15rem;
}

.task-edit-form .edit-form__radio-btns-label {
  margin: 1rem 0;
  text-align: center;
}

.edit-form__radio-btns {
  display: flex;
  align-self: center;

  justify-content: center;

  gap: 1rem;

  width: 80%;

  flex-wrap: wrap;
}

.edit-form__styled-radio {
  display: flex;
}

.custom-radio {
  display: flex;
  height: 2rem;
  width: 2rem;

  border: 0.2rem var(--accent-color) solid;

  border-radius: 0.2rem;

  cursor: pointer;
}

.custom-radio--none {
  border-color: var(--accent-color);
}

.custom-radio--low {
  border-color: var(--low-difficult-color);
}

.custom-radio--medium {
  border-color: var(--medium-difficult-color);
}

.custom-radio--high {
  border-color: var(--high-difficult-color);
}

.custom-radio--checked-none {
  background-color: var(--accent-color);
}

.custom-radio--checked-low {
  background-color: var(--low-difficult-color);
}

.custom-radio--checked-medium {
  background-color: var(--medium-difficult-color);
}

.custom-radio--checked-high {
  background-color: var(--high-difficult-color);
}

.edit-form__styled-radio input[type="radio"] {
  display: none;
}

/* dialog {
  justify-self: center;
  align-self: center;

  border: none;
} */

dialog {
  position: fixed;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  border: none;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.add-task {
  display: flex;
  flex-direction: column;

  width: 65vw;

  background-color: var(--main-brighter);
}

.add-task__header {
  display: flex;
  padding: 1rem;

  justify-content: center;
  align-items: baseline;
}

.add-task__header h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: var(--accent-brighter);
}

.add-task__main {
  display: flex;
  flex-direction: column;
  border-top: 0.2rem var(--accent-brighter) solid;
}

#add-task-form {
  display: flex;
  flex-direction: column;

  padding: 1rem 2rem;

  gap: 0.5rem;

  transition: var(--default-transition);
}

#add-task-form label,
#add-task-form h3 {
  font-size: 1.1rem;

  font-weight: 600;

  color: var(--accent-brighter);

  text-transform: uppercase;
}

#add-task-form input[type="text"],
#add-task-form textarea {
  font-size: 1.1rem;

  padding: 0.7rem 0.5rem;

  border: 0.1rem transparent solid;
  border-radius: 0.5rem;

  color: var(--accent-brighter);
  background-color: var(--main-darker);

  transition: inherit;
}

#add-task-form input[type="text"]::placeholder,
#add-task-form textarea::placeholder {
  color: var(--accent-darker);
}

#add-task-form textarea {
  resize: none;

  min-height: 10rem;

  margin-bottom: 1rem;
}

#add-task-form input[type="text"]:focus,
#add-task-form textarea:focus {
  border-color: var(--accent-darker);
}

.add-task__controls {
  display: flex;

  justify-content: end;

  gap: 2rem;
}

#add-task-form ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  column-gap: 1rem;
  row-gap: 2rem;

  margin-bottom: 1rem;
}

.add-task__list-item {
  display: flex;
  justify-content: center;
}

.add-task__list-item input[type="radio"] {
  display: none;
}

.add-task__list-item input[type="radio"]:checked + .add-task__card--none {
  border-color: var(--accent-brighter);
}

.add-task__list-item input[type="radio"]:checked + .add-task__card--low {
  border-color: var(--low-difficult-brighter);
}

.add-task__list-item input[type="radio"]:checked + .add-task__card--medium {
  border-color: var(--medium-difficult-brighter);
}

.add-task__list-item input[type="radio"]:checked + .add-task__card--high {
  border-color: var(--high-difficult-brighter);
}

.add-task__card {
  display: flex;
  flex-direction: column;

  width: 8rem;

  border: 0.1rem transparent solid;

  cursor: pointer;

  transition: var(--default-transition);
}

.add-task__card:hover,
.add-task__card:focus {
  scale: 1.05;
}

.add-task__card--none:hover,
.add-task__card--none:focus {
  border-color: var(--accent-color);
}

.add-task__card--low:hover,
.add-task__card--low:focus {
  border-color: var(--low-difficult-color);
}

.add-task__card--medium:hover,
.add-task__card--medium:focus {
  border-color: var(--medium-difficult-color);
}

.add-task__card--high:hover,
.add-task__card--high:focus {
  border-color: var(--high-difficult-color);
}

.add-task__card-image {
  height: 3rem;
}

.add-task__card--none .add-task__card-image {
  background-image: linear-gradient(
    45deg,
    var(--accent-brighter),
    var(--accent-darker)
  );
}

.add-task__card--low .add-task__card-image {
  background-image: linear-gradient(
    45deg,
    var(--low-difficult-brighter),
    var(--low-difficult-color)
  );
}

.add-task__card--medium .add-task__card-image {
  background-image: linear-gradient(
    45deg,
    var(--medium-difficult-brighter),
    var(--medium-difficult-color)
  );
}

.add-task__card--high .add-task__card-image {
  background-image: linear-gradient(
    45deg,
    var(--high-difficult-brighter),
    var(--high-difficult-color)
  );
}

.add-task__card-description {
  display: flex;
  flex-direction: column;

  padding: 1rem;

  background-color: var(--main-darker);

  text-transform: none;

  text-align: center;
}

.add-task__card-heading {
  font-size: 1rem;

  margin-bottom: 0.5rem;

  text-transform: uppercase;

  overflow: hidden;
  text-overflow: ellipsis;
}

.add-task__card--none .add-task__card-heading {
  color: var(--accent-brighter);
}
.add-task__card--low .add-task__card-heading {
  color: var(--low-difficult-brighter);
}
.add-task__card--medium .add-task__card-heading {
  color: var(--medium-difficult-brighter);
}
.add-task__card--high .add-task__card-heading {
  color: var(--high-difficult-brighter);
}

.add-task__card-desc {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
}

.add-task__card--none .add-task__card-desc--first {
  color: var(--accent-color);
}
.add-task__card--none .add-task__card-desc--second {
  color: var(--accent-brighter);
}

.add-task__card--low .add-task__card-desc--first {
  color: var(--low-difficult-color);
}
.add-task__card--low .add-task__card-desc--second {
  color: var(--low-difficult-brighter);
}

.add-task__card--medium .add-task__card-desc--first {
  color: var(--medium-difficult-color);
}
.add-task__card--medium .add-task__card-desc--second {
  color: var(--medium-difficult-brighter);
}

.add-task__card--high .add-task__card-desc--first {
  color: var(--high-difficult-color);
}
.add-task__card--high .add-task__card-desc--second {
  color: var(--high-difficult-brighter);
}

#add-task-form button {
  color: var(--accent-brighter);

  padding: 0.2rem 0.3rem;

  border: 0.1rem transparent solid;

  border-radius: 0.5rem;

  font-weight: 600;

  text-transform: uppercase;

  transition: var(--default-transition);
}

#add-task-form button:hover {
  color: var(--accent-color);
  background-color: var(--main-color);
  border-color: var(--accent-brighter);
}

#add-task-form button[type="submit"] {
  font-size: 1.2rem;
}

.confirm-delete__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border: var(--default-border);

  width: 30vw;
  height: 30vh;

  padding: 2rem 0;

  background-color: var(--main-brighter);
}

.confirm-delete__container h3 {
  font-size: 1.5rem;
  font-weight: 700;

  color: var(--accent-color);

  text-transform: uppercase;

  transition: var(--default-transition);
}

.confirm-delete__controls {
  display: flex;
  gap: 2rem;
  align-self: end;
  width: 100%;
  justify-content: space-around;
}

.confirm-delete__controls button {
  font-size: 1.1rem;
  font-weight: 600;

  padding: 0.5rem 1rem;
  border-radius: 0.3rem;

  color: var(--accent-brighter);
  border: var(--default-border);
  background-color: var(--main-darker);

  text-transform: uppercase;

  transition: var(--default-transition);
}

.confirm-delete__controls button:hover {
  background-color: var(--main-color);
  color: var(--accent-color);
}

.confirm-delete__container:has(
    .confirm-delete__controls button:first-child:hover
  )
  h3 {
  color: var(--low-difficult-color);
}

.confirm-delete__container:has(
    .confirm-delete__controls button:last-child:hover
  )
  h3 {
  color: var(--high-difficult-color);
}

@media (max-width: 1150px) {
  #todo {
    width: 90vw;
  }

  .confirm-delete__container {
    width: 50vw;
  }
}

@media (max-width: 980px) {
  .todo-navigation__button {
    font-size: 1.1rem;

    padding: 0.4rem 0.8rem;
  }

  #add-task-form ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 845px) {
  .todo-navigation__button {
    font-size: 1rem;

    padding: 0.3rem 0.6rem;
  }
}

@media (max-width: 750px) {
  .todo-navigation__button {
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
  }
}

@media (max-width: 650px) {
  .todo-navigation__button {
    font-size: 0.8rem;
  }

  .confirm-delete__container {
    width: 70vw;
  }
}

@media (max-width: 600px) {
  #header p {
    font-size: 1rem;
  }

  .todo-navigation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: 1rem;
    padding: 1rem 0;
  }

  .todo-navigation__button {
    width: 10rem;
  }

  .add-task {
    width: 80vw;
  }
  #add-task-form ul {
    grid-template-columns: repeat(1, 1fr);
  }

  .add-task__list-item {
    width: 100%;
  }

  .add-task__card {
    width: 70%;
  }
}

@media (max-width: 420px) {
  .todo-navigation {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .todo-navigation__button {
    font-size: 1rem;
    padding: 0.5rem 1rem;

    width: 15rem;
  }

  .extended-info h2 {
    margin-bottom: 1rem;
  }

  .extended-info h2,
  .task-edit-form h3 {
    font-size: 1.2rem;
  }

  .extended-info h3,
  .task-edit-form label {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }

  .extended-controls__button {
    padding: 0.5rem;
    font-size: 1rem;
  }

  .task-edit-form textarea {
    min-height: 10rem;
  }

  .confirm-delete__container {
    width: 85vw;
  }

  .add-task__header h3 {
    font-size: 1.1rem;
  }

  #add-task-form label,
  #add-task-form h3 {
    font-size: 1rem;
    text-align: center;
  }

  #add-task-form input[type="text"],
  #add-task-form textarea {
    font-size: 1rem;
  }
}
